<% var stats = hdfs.get('most_recent_stats'); %>
<div class="hdfs-title label">
  <%= hdfs.get('name') %>
  <span class="title-subtle"><%= hdfs.get('host') %></span>
</div>
<div class="hdfs-info">
  <table class="hdfs-table">
    <tr>
      <td>
        <div class="hdfs-chart"></div>
      </td>
      <td>
        <div class="hdfs-legend">
          <div class="legend-box healthy"></div><h6>Healthy</h6><br />
          <div class="legend-box corrupt"></div><h6>Corrupt</h6><br />
          <div class="legend-box missing"></div><h6>Missing</h6><br />
          <div class="legend-box under-replicated"></div><h6>Under-Rep</h6>
        </div>
      </td>
      <td>
        <div class="hdfs-live progress progress-success progress-status">
          <div class="bar" style="width:<%= hdfs.node_width() %>%"></div>
        </div>
        <%= stats.live_nodes %> out of <%= stats.total_nodes %> live nodes<br /><br />
        <div class="hdfs-dfs progress progress-status">
          <div class="bar" style="width:<%= hdfs.usage_width() %>%"></div>
        </div>
        <%= hdfs.percent_used() %> dfs usage
      </td>
    </tr>
  </table>
</div>
