<% var stats = hdfs.get('most_recent_stats'); %>
<div class="hdfs-title label">
  <% if(hdfs.get('recent_stats')) { %>
    <img src="/assets/green_light.png" title="HDFS Stats are current"/>
  <% } else { %>
    <img src="/assets/red_light.png" title="HDFS Stats are haven't been updated in over a minute"/>
  <% } %>
  <%= hdfs.get('name') %>
  <span class="title-subtle"><%= hdfs.get('host') %></span>
</div>
<div class="hdfs-body">
  <table>
    <tr>
      <td class="hdfs-chart-container">
				<div class="zk-cont-info">
					<h6 class="<%= stats.missing_blocks === 0 ? '' : 'error-label'%>">Missing Blocks ( <%= stats.missing_blocks %> )</h6>
					<h6 class="<%= stats.under_replicated === 0 ? '' : 'error-label'%>">Under-Replicated Blocks ( <%= stats.under_replicated %> )</h6>
      </td>
      <td class="hdfs-bar-container">
        <div class="hdfs-live progress progress-status <% if (hdfs.node_width() > 1){%> red-bar <%}else{%> faded-bar <%}%>">
          <div class="bar" style="width:<%= hdfs.node_width() %>%"></div>
        </div>
        <%= stats.live_nodes %> out of <%= stats.total_nodes %> live nodes<br /><br />
        <div class="hdfs-dfs progress progress-status<% if (hdfs.usage_width() > 1){%> red-bar <%}else{%> faded-bar <%}%>">
          <div class="bar" style="width:<%= hdfs.usage_width() %>%"></div>
        </div>
        <%= hdfs.percent_used() %> dfs usage
      </td>
    </tr>
  </table>
</div>
