<div class="zookeeper-title label"><%= zookeeper.get('name') %>
</div>
<div class="zookeeper-info">
  <table>
    <tr>
      <td>Controllers</td>
      <td></td>
      <td></td>
      <td>Shards</td>
    </tr>
    <tr>
      <td class="zookeeper-cont-pie-chart">
        <!--<div id="pie" style="width: 120px; height: 120px;"></div>-->
        <img src="/assets/pie_chart.png">
      </td>
      <td class="zookeeper-cont-info">
        <div class="zk-cont-info">
          <h6>1 Online<br /></h6>
          <h6>0 Offline<br /></h6>
          <h6>CBV</h6>
        </div>
      </td>
      <td class="zookeeper-shard-info">
        <div class="zk-shard-info">
          <h6>4 Online<br /></h6>
          <h6>0 Offline<br /></h6>
          <h6>CBV</h6>
        </div>
      </td>
      <td class="zookeeper-shard-pie-chart">
        <img src="/assets/pie_chart.png">
      </td>
    </tr>
  </table>
</div>

    <!--<tr>
      <td style="text-align: center;">Controllers: 1</td>
      <td style="text-align: center;">Shards: 4</td>
    </tr>
    <tr>
      <td>
        <img style="margin-left: auto; margin-right: auto; display: block; width: 150px;"src="/assets/pie_chart.png"/>
      </td>
      <td>
        <img style="margin-left: auto; margin-right: auto; display: block; width: 150px;" src="/assets/pie_chart.png"/>
      </td>
    </tr>
    <tr>
      <td style="text-align: center;">Consistent Blur Versions</td>
      <td style="text-align: center;">Consistent Blur Versions</td>
    </tr>-->

 
    <!--<tr>
      <td colspan="2" style="text-align: center;">
        <% if(zookeeper.consistent_controller_versions()){ %>
          <div>Consistent Blur Versions</div>
        <% } else { %>
          <div>Inconsistent Blur Versions</div>>
        <% } %>
      </td>
      <td colspan="2" style="text-align: center;">
        <% if(zookeeper.consistent_shard_versions()){ %>
          <div>Consistent Blur Versions</div>
        <% } else { %>
          <div>Inconsistent Blur Versions</div>
        <% } %>
      </td>
    </tr>-->
    <!--<tr>
      <td>
        <div>
          <div class="bar" style="width:<%= zookeeper.controller_progress_width() %>%"></div>
          <span class="online-nodes"><%= zookeeper.online_controller_nodes() %> Online</span>
          <% if(zookeeper.get('controller_offline_node') !== 0){ %>
            <span class="offline-nodes"><%= zookeeper.get('controller_offline_node') %></span>
          <% } %>
        </div>
      </td>
      <td class="shards">
        <div class="progress progress-success progress-status compare">
          <div class="bar" style="width:<%= zookeeper.shard_progress_width() %>%"></div>
          <span class="online-nodes"><%= zookeeper.online_shard_nodes() %> Online</span>
          <% if(zookeeper.get('shard_offline_node') !== 0){ %>
            <span class="offline-nodes"><%= zookeeper.get('shard_offline_node') %></span>
          <% } %>
        </div>
      </td>
    </tr>
    <% if(zookeeper.get('long_running_queries') > 0){ %>
      <tr>
        <td colspan="2">
          <div class="warning btn-danger">
            <% if(zookeeper.get('long_running_queries') === 1){ %>
              <%= zookeeper.get('long_running_queries') %> query has been running for more than a minute!
            <% } else { %>
              <%= zookeeper.get('long_running_queries') %> queries have been running for more than a minute!
            <% } %>
          </div>
        </td>
      </tr>
    <% } %>-->
