<div class="zookeeper-title label"><%= zookeeper.get('name') %></div>
<div class="zookeeper-info">
  <table>
    <tr>
      <td>Controllers</td>
      <td></td>
      <td></td>
      <td>Shards</td>
    </tr>
    <tr>
      <td class="zookeeper-cont-pie-chart">
        <div class="cont-chart"></div>
      </td>
      <td class="zookeeper-cont-info">
        <div class="zk-cont-info">
          <h6><%= zookeeper.get('controller_total') - zookeeper.get('controller_offline_node') %> Online<br /></h6>
          <h6><%= zookeeper.get('controller_offline_node') %> Offline<br /></h6>
          <h6>
            <% if(zookeeper.consistent_controller_versions()){ %>
              CBV <img class="icon-check" src="/assets/check.png"/>
            <% } else { %>
              CBV <img class="icon-x" src="/assets/x.png"/>
            <% } %>
          </h6>
        </div>
      </td>
      <td class="zookeeper-shard-info">
        <div class="zk-shard-info">
          <h6><%= zookeeper.get('shard_total') - zookeeper.get('shard_offline_node') %> Online<br /></h6>
          <h6><%= zookeeper.get('shard_offline_node') %> Offline<br /></h6>
          <h6>
            <% if(zookeeper.consistent_shard_versions()){ %>
              CBV <img class="icon-check" src="/assets/check.png"/>
            <% } else { %>
              CBV <img class="icon-x" src="/assets/x.png"/>
            <% } %>
          </h6>
        </div>
      </td>
      <td class="zookeeper-shard-pie-chart">
        <div class="shard-chart"></div>
      </td>
    </tr>
    <% if(zookeeper.get('long_running_queries') > 0){ %>
      <tr>
        <td colspan="4">
          <div class="query-warning">
            <% if(zookeeper.get('long_running_queries') === 1){ %>
              1 query has been running for more than a minute!
            <% } else { %>
              <%= zookeeper.get('long_running_queries') %> queries have been running for more than a minute!
            <% } %>
          </div>
        </td>
      </tr>
    <% } %>
  </table>
</div>
