- content_for :title, 'Query'
-content_for :javascript do
  =javascript_include_tag 'jquery.jstree', 'compiled/query'

#query-page
  = form_tag query_path, :method => 'post', :id=>'query_form', :remote => true do
    #search_section
      .query-title
        = label_tag :q, "Search Query:"
      = text_area_tag :q, params[:q]
    #filter_section
      .partial-section
        = label_tag :t, "Table:"
        = select_tag :t, options_for_select(@tables)

      .partial-section
        Column Families:
        #filter_columns
          = render 'filters'

    = submit_tag "Search", :disabled => true, :id => "search_submit"

  #results_section.partial-section

