-content_for :title, 'Query'
-content_for :javascript do
  =javascript_include_tag 'jquery.jstree', 'compiled/query'

#query-page
  = form_tag query_path, :method => 'post', :id=>'query_form', :remote => true do
    #filter_section.half-section
      .partial-section
        = label_tag :t, "Table:"
        = select_tag :t, options_for_select(@tables)
      .partial-section
        = label_tag :s, "Super Query:"
        = check_box_tag :s, true, true
      .partial-section
        .column-title
          Column Families:
        .column-title
          %a{:title => "Check All", :href => '#', :id => 'checkall'} Check All
          %a{:title => "Uncheck All", :href => '#', :id => "uncheckall"} Uncheck All
        #filter_columns
          = render 'filters'
      .partial-section
        = label_tag :r, 'Fetch:'
        = select_tag :r, options_for_select([25, 50, 100])
      .partial-section
        = label_tag :a, 'Start:'
        = text_area_tag :a, 0
      .partial-section
        = submit_tag "Search", :disabled => true, :id => "search_submit"
    #query_section.half-section
      #search_section
        .query-title
          = label_tag :q, "Search:"
        .query-input
          = label_tag :q, "Query:"
        .query-input
          = text_area_tag :q, params[:q]
      #results_container.partial-results