-content_for :title, 'Query'
-content_for :javascript do
  =javascript_include_tag 'jquery.jstree', 'compiled/query'

#query-page
  = form_tag query_path, :method => 'post', :id=>'query_form', :remote => true do
    #search_section
      .query-title
        = label_tag :q, "Search Query:"
      .query-input
        = label_tag :q, "Query:"
        = text_area_tag :q, params[:q]
    #super_query_section.partial-section
      = label_tag :s, "Super Query Off:"
      = check_box_tag :s, true, false
    #filter_section
      .partial-section
        = label_tag :t, "Table:"
        = select_tag :t, options_for_select(@tables)

      .partial-section
        .column-title
          Column Families:
          %a{:title => "Check All", :href => "#", :id => "checkall"} Check All
          %a{:title => "Uncheck All", :href => "#", :id => "uncheckall"} Uncheck All
        #filter_columns
          = render 'filters'
    #result_number_section.partial-section{:class => 'hidden'}
      = label_tag :r, 'Number of results shown:'
      = select_tag :r, options_for_select([25, 50, 100])
            
  #results_container.partial-results
