.file_id
#search_results
  - if file_names_hash.length == 1 and file_names_hash
    = "Found 1 file that matches '#{search_string}'"
  - else
    = "Found #{file_names_hash.length} files that match '#{search_string}'"

#file_list{:style => 'display: none' }
  - if file_names_hash.length > 0 and file_names_hash
    %ul
      - file_names_hash.each do |file,stats|
        %li.hdfs-node
          %a{:id => file.gsub(/[^[:alnum:]]/,'-'), :connection => connections[file]}= file

#file_tiles{:style => 'display: none' }
  - if file_names_hash.length > 0 and file_names_hash
    - file_names_hash.each do |file,stats|
      %button.hdfs-node{:id => file.gsub(/[^[:alnum:]]/,'-'), :connection => connections[file]}
        = file_icon(file, stats)
        %br
        = file

#file_details{:style => 'display: none' }
  - if file_names_hash.length > 0 and file_names_hash
    %table
      %thead
        %tr
          %th.name File Name
          %th Length
          %th Directory
          %th Block Reps
          %th Block Size
          %th Owner
          %th Group
      %tbody
        - file_names_hash.each do |file,stats|
          %tr.hdfs-node{:id => file.gsub(/[^[:alnum:]]/,'-'), :connection => connections[file]}
            %td.name=file
            %td=stats.length
            %td=stats.isdir
            %td=stats.block_replication
            %td=stats.blocksize
            %td=stats.owner
            %td=stats.group
