#file_table
  %table
    %tr
      %td Length
      %td= number_to_human_size @stat.length, :precision => 4
    %tr
      %td Directory
      %td= @stat.isdir
    %tr
      %td Block Reps
      %td= number_with_delimiter @stat.block_replication, :delimiter => ','
    %tr
      %td Block Size
      %td= number_with_delimiter @stat.blocksize, :delimiter => ','
    %tr
      %td Owner
      %td= @stat.owner
    %tr
      %td Group
      %td= @stat.group
    %tr
      %td Permission
      %td= @stat.permission