- content_for :title, 'HDFS'
- content_for :javascript do
  =javascript_include_tag 'jquery.jstree','compiled/hdfs'

#toolbar_wrapper
  #toolbar
    %button{:type => "button", :id => 'back_button', :disabled => true}
      Back
    %button{:type => "button", :id => 'forward_button', :disabled => true}
      Forward
    %button{:type => "button", :id => 'up_button', :disabled => true}
      File Up
    %span#view_options
      = radio_button_tag 'view_options', 'list', true
      = label_tag 'view_options_list', 'List View'
      = radio_button_tag 'view_options', 'icon'
      = label_tag 'view_options_icon', 'Icon View'
    #search
      = text_area_tag :search_string
      = submit_tag 'Search', :id => 'search_button'
    %br
    #location
      = text_area_tag :location_string
      = submit_tag 'Go', :id => 'go_button'

#hdfs_wrapper
  #hdfs_files_layout
    HDFS Files
    #hdfs_files{:style => 'display: none;' }
      = render 'file_layout'
  #data_wrapper
    #hdfs_bar
    #data_container_display
