!!!5
%html
  %head
    = csrf_meta_tag
    %title= @page_title.blank? ? 'AFS' : "#{@page_title} - AFS"
    = stylesheet_link_tag 'jquery-ui-1.8.11.custom.css'
    = javascript_include_tag 'jquery-ui-1.8.11.custom.js'
  %body
    %noscript
      #noscript-warning Javascript is disabled. AFS will not work properly.
      %br
      %br
    #bd
      = yield
    #ft
      = render :partial => 'afs/shared/powered_by'