<h2 class="zookeeper-name">
  <%= zookeeper.header() %>
  <div class='nodes'>
    <% if (zookeeper.get('ensemble').length > 0 ) { %>
      <span class='states' data-original-title="<%= zookeeper.get('ensemble').join('</br>') %>">
        Online (<%= zookeeper.get('ensemble').length %>)
      </span>
    <% } %>
    <% if (zookeeper.get('ensemble').length > 0 && zookeeper.offline_nodes().length > 0) { %>
      |
    <% } %>
    <% if (zookeeper.offline_nodes().length > 0 ) { %>
      <span class='states' data-original-title="<%= zookeeper.offline_nodes().join('</br>') %>">
        Offine (<%= zookeeper.offline_nodes().length %>)
      </span>
    <% } %>
  </div>
  <% if(zookeeper.get('status') == 0 && !zookeeper.quarum_failed()){ %>
    <i class="icon-remove-sign destroy-zk icon-white" title="Forget this Zookeeper"/>
  <% } %>
</h2>
