.zookeeper{ :id => @zookeeper.id }
  #hdfs
    %h2 HDFS Status
    %ul
      %li get HDFS capacity data
      %li generate pie chart of capacity data
      %li something else?
      %li and that other thing
      %li with the stuff
  #zookeeper
    %h2 Zookeeper Information
    %table
      %tbody
        %tr
          %td.label Name:
          %td.value= @zookeeper.name
        %tr
          %td.label Connection:
          %td.value= @zookeeper.url
        %tr
          %td.label Status:
          %td.value
            - if @zookeeper.status == 0
              .online.ui-widget
                .ui-state-default.ui-corner-all
                  Online
            - else 
              .offline.ui-widget
                .ui-state-error.ui-corner-all
                  Offline
  #blur
    %h2 Blur Status
    #controllers
      - if @controllers
        %h3= "Controllers(#{@controllers.length})"
        #controllers-placeholder
          %ul
            - @controllers.each do |controller|
              %li
                = controller.node_name
      - else
        %h3 Controllers
        %p Not Available
    #shards
      - if @shards
        %h3= "Shards(#{@shards.length})"
        %ul
          - @shards.each do |shard|
            %li
              = shard.node_name
      - else
        %h3 Shards
        %p Not Available
