.zookeeper{ :id => @zookeeper.id }
  #zookeeper
    %h2 Zookeeper Information
    %table
      %tbody
        %tr
          %td.label Name:
          %td.value= @zookeeper.name
        %tr
          %td.label Connection:
          %td.value= @zookeeper.url
        %tr
          %td.label Status:
          %td.value
            - if @zookeeper.status == 0
              .online.ui-widget
                .ui-state-highlight.ui-corner-all
                  Online
            - else 
              .offline.ui-widget
                .ui-state-error.ui-corner-all
                  Offline
  #blur
    %h2 Blur Status
    #controllers
      - if @zookeeper.controllers
        %h3= "Controllers(#{@zookeeper.controllers.length})"
        #controllers-placeholder
          %ul
            - @zookeeper.controllers.each do |controller|
              %li
                = controller.node_name
      - else
        %h3 Controllers
        %p Not Available
    #shards
      - if @zookeeper.shards
        %h3= "Shards(#{@zookeeper.shards.length})"
        %ul
          - @zookeeper.shards.each do |shard|
            %li
              = shard.node_name
      - else
        %h3 Shards
        %p Not Available
