- content_for :title, 'Blur Status'
- content_for :javascript do
  = javascript_include_tag 'compiled/zookeepers'

#zookeepers_wrapper
  %h2 Zookeepers
  - if @zookeepers
    = render 'zookeepers'

  - else
    %h4 No Zookeeper Instances Available

  #old_queries
    - if @old_queries.length > 0
      %h2 Query Warning
      .zookeeper_info
        %h4.warning
          - if @old_queries.length == 1
            = "1 query has been running for more than a minute"
          - else
            = "#{@old_queries.length} queries have been running for more than a minute"
