- content_for :title, 'Blur Status'
- content_for :javascript do
  = javascript_include_tag 'compiled/zookeepers'

#zookeepers_wrapper
  %h2 Zookeepers

  - if @old_queries.length > 0
    %h4.warning#warning
      .one_query{:style => "display:none;"}
        = "1 query has been running for more than a minute"
      .many_queries{:style => "display:none;"}
        = "#{@old_queries.length} queries have been running for more than a minute"

  - if @zookeepers
    = render 'zookeepers'

  - else
    %h4 No Zookeeper Instances Available
