- content_for :title, 'Environment Status'
- content_for :javascript do
  = javascript_include_tag 'compiled/zookeeper'

#zookeeper_wrapper
  - if @zookeeper
    .zookeeper{ :id => @zookeeper.id }
      #zookeeper
        %h2 Zookeeper Information
        %table
          %tbody
            %tr
              %td.label Name:
              %td.value= @zookeeper.name
            %tr
              %td.label Connection:
              %td.value= @zookeeper.url
            %tr
              %td.label Status:
              %td.value
                - if @zookeeper.status == 1
                  .green_box.ui-corner-all
                    Online
                - else
                  .ui-state-error.ui-corner-all
                    Offline
      #blur
        %h2 Blur Status
        #controllers
          .blur_container
            - unless @zookeeper.controllers.empty?
              %h3= "Controllers(#{@zookeeper.controllers.length})"
              #controllers-placeholder
                - if @controller_nodes == 1
                  = "Controllers (blur version #{@zookeeper.controllers.first.blur_version}) :"
                - elsif @controller_nodes > 1
                  .warning
                    = "Controllers are not running the same blur version"
                %ul
                  - @zookeeper.controllers.each do |controller|
                    %li<
                      = "#{controller.node_name}"
                      - if @controller_nodes > 1
                        = "(blur version #{controller.blur_version})"
                      - if controller.status == 2
                        .green_box.ui-corner-all
                          Online
                      - else
                        .ui-state-error.ui-corner-all
                          Offline
                        = link_to 'Forget Offline Node', destroy_controller_path(@zookeeper, controller), :method=>:delete, :confirm=>'Are you sure you want to forget this node?'
            - else
              %h3 Controllers
              %p Not Available
        #shards
          .blur_container
            - unless @zookeeper.shards.empty?
              %h3= "Shards(#{@zookeeper.shards.length})"
              - if @shard_nodes == 1
                = "Shards (blur version #{@zookeeper.shards.first.blur_version}) :"
              - elsif @shard_nodes > 1
                .warning
                  = "Shards are not running the same blur version"
              %ul
                - @zookeeper.shards.each do |shard|
                  %li
                    = "#{shard.node_name}"
                    - if @shard_nodes > 1
                      = "(blur version #{shard.blur_version})"
                    - if shard.status == 2
                      .green_box.ui-corner-all
                        Online
                    - else
                      .ui-state-error.ui-corner-all
                        Offline
                      = link_to 'Forget Offline Node', destroy_shard_path(@zookeeper, shard), :method=>:delete, :confirm=>'Are you sure you want to forget this node?'
            - else
              %h3 Shards
              %p Not Available

  - else
    No Zookeeper Instances Available
