.column_family_filter
  %ul
    %li#neighborhood{:class => 'jstree-checked'}
      %a{:href=>'#', :class => 'check_filter', :name => "all"} All
      - if columns
        - columns.each do |family, cols|
          %ul
            %li#family{:id=>family}
              %a{:href=>'#', :class => 'check_filter', :name => "family_#{family}"}= family
              %ul
                - cols.each do |col|
                  %li#column{:id=>"#{family}_#{col}"}
                    %a{:href=>'#', :class => 'check_filter', :name => "column_#{family}_#{col}"}= col
