.column_family_filter
  %ul
    %li#neighborhood{:class => 'jstree-checked'}
      %a{:href=>'#', :class => 'check_filter', :name => "all"} All
      - if columns
        - columns.each do |family|
          %ul
            %li#family{:id=>"-sep-_#{family['name']}"}
              %a{:href=>'#', :class => 'check_filter', :name => "family_-sep-_#{family['name']}"}= family['name']
              %ul
                - family['columns'].each do |col|
                  %li#column{:id=>"-sep-_#{family['name']}_-sep-_#{col['name']}"}
                    %a{:href=>'#', :class => 'check_filter', :name => "column_-sep-_#{family['name']}_-sep-_#{col['name']}"}= col['name']
