- if @results and not @results.empty?
  #results_info
    = "#{@result_count} results found in #{@result_time} ms"
  #results_section
    %table#result_table.result_table
      %thead
        %tr.familysets
          %th.rowId
          - @schema.each do |family, columns|
            %th{:colspan => columns.count,
                :class => "family_#{family}",
                :id => family,
                :children => columns.count}
              = family
        %tr.columnsets
          %th.rowId rowId
          - @schema.each do |family, columns|
            - columns.each do |column|
              %th{:class => "column_#{family}_#{column} family_#{family}"}
                = column.gsub(/([A-Z])/, '&shy;\1').html_safe
        %tbody
          - @results.each do |result|
            - stripe_class = cycle('odd', 'even', :name => 'row-cycle')
            - result[:rows].each_with_index do |table_row, i|
              %tr{:class => stripe_class}
                - if i == 0
                  %td.rowId.id_cell{:rowspan => result[:row_count], :title => "rowId"}
                    = result[:id]
                - reset_cycle('column-cycle')
                - table_row.each_with_index do |cfs, j|
                  - cf_stripe = cycle('odd', 'even', :name => 'column-cycle')
                  - cfs.each_with_index do |column, k|
                    %td{:class => "#{cf_stripe} family_#{@schema.keys[j]} column_#{@schema.keys[j]}_#{@schema.values[j][k]}",
                        :title => "#{@schema.keys[j]}: #{@schema.values[j][k]}"}
                      = column
