= debug @results
- if @results and not @results.empty?
  %table

    - @results.each do |result|
      - result_stripe = cycle('odd', 'even', :name => 'row-cycle')
      - max_record_count = result[:max_record_count]

      - max_record_count.times do |i|                                   # rows
        %tr{:class => result_stripe}

        - @schema.each_with_index do |column_family, j|
          - cf_stripe = cycle('odd', 'even', :name => 'column-cycle')
          - if i == 0 and j == 0
            %td.rowId.id_cell{:rowspan => max_record_count, :title => "rowId"}
              = result[:id]
          - record = result[:column_families][column_family][i]

          - @schema[column_family].each do |column|
            %td{:class => cf_stripe}
              = record[:columns][:column]



  #results_info
    = "#{@result_count} results found in #{@result_time} ms"
  #results_section
    %table#result_table.result_table
      %thead
        %tr.familysets
          %th.rowId
          - @schema.each do |family, columns|
            %th{:colspan => columns.count,
                :class => "family_#{family}",
                :id => family,
                :children => columns.count}
              = family
        %tr.columnsets
          %th.rowId rowId
          - @schema.each do |family, columns|
            - columns.each do |column|
              %th{:class => "column_#{family}_#{column} family_#{family}"}
                = column.gsub(/([A-Z])/, '&shy;\1').html_safe
        %tbody
          - @results.each do |result|
            - stripe_class = cycle('odd', 'even', :name => 'row-cycle')
            - result[:rows].each_with_index do |row, i|
              %tr{:class => stripe_class}
                - if i == 0
                  %td.rowId.id_cell{:rowspan => result[:row_count], :title => "rowId"}
                    = result[:id]
                    = result[:rows].class
                - reset_cycle('column-cycle')
                - row.each_with_index do |family, j|
                  - cf_stripe = cycle('odd', 'even', :name => 'column-cycle')
                  - family.each_with_index do |column, k|
                    %td{:class => "#{cf_stripe} family_#{@schema.keys[j]} column_#{@schema.keys[j]}_#{@schema.values[j][k]}",
                        :title => "#{@schema.keys[j]}: #{@schema.values[j][k]}"}
                      = column
