-content_for :title, 'Search'
-content_for :javascript do
  =javascript_include_tag 'jquery.jstree', 'compiled/search'

#search_page_wrapper
  = form_tag search_path, :method => 'post', :id=>'search_form', :remote => true do
    #filter_section
      #search_help.filter
        %a{:href=>'javascript:void(0)'} Help
      .tab#saved
        .header#saved
          %label{:id => 'saved'} Saved Searches
        .body#saved
          = render "saved"
      .tab#standard
        .header#standard
          %label{:id => 'standard'} Search
        .body#standard
          .filter= label_tag :query_string, "Query:"
          = text_area_tag :query_string, params[:query_string]
          .filter= label_tag :blur_table, "Table:"
          = select_tag :blur_table, options_from_collection_for_select(@blur_tables, :id, :table_name)
          .filter
            Column Families:
          #filter_columns
            = render 'filters'

      .tab#advanced
        .header#advanced
          %label{:id => 'advanced'} Advanced Options
        .body#advanced
          .filter
            = label_tag :super_query, "Super Query:"
            = check_box_tag :super_query, true, true
          .filter
            = label_tag :offset, 'Start:'
            = number_field_tag :offset, 0, :min => 0
          .filter
            = label_tag :result_count, 'Fetch:'
            = select_tag :result_count, options_for_select([25, 50, 100])

      .tab#store
        .header#store
          %label{:id => 'store'} Save Options
        .body#store
          .filter#save_name_wrap
            #save_label= label_tag :save_name, 'Name:'
            = text_field_tag 'save_name'
          .filter
            %button{:disabled => true, :name => "save", :type => "button", :id => 'save_button'}
              Save

      #search_send.partial_section
        %img{:id => "loading-spinner", :src => "/images/loadinfo_24.gif", :alt => "Loading...", :style => "display:none;" }
        = submit_tag "Search", :disabled => true, :id => "search_submit"
  #results_wrapper.open_filters
    #bar_section
      #arrow.ui-icon.ui-icon-triangle-1-w
    #results_container

#dialog-confirm{:title => "Delete this saved query?", :style => "display:none"} 
  %p This will permanently delete the selected saved query. Do you wish to continue?
#dialog-help{:title => "Search Help", :style=> "display:none"}
  = render :partial => 'help'
