-content_for :title, 'Search'
-content_for :javascript do
  =javascript_include_tag 'jquery.jstree', 'compiled/search'

#form_section
  = form_tag search_path, :method => 'post', :id=>'search_form', :remote => true do
    #filter_section
      %h2 Search:
      .partial-section
        .search-input
          .query-label= label_tag :q, "Query:"
          = text_area_tag :query_string, params[:query_string]

        %img{:id => "loading-spinner", :src => "/images/spinner.gif", :alt => "Loading...", :style => "display:none;" }
      .partial-section
        = label_tag :blur_table, "Table:"
        = select_tag :blur_table, options_from_collection_for_select(@blur_tables, :id, :table_name)
      .partial-section
        = label_tag :super_query, "Super Query:"
        = check_box_tag :super_query, true, true
      .partial-section
        .column-title
          Column Families:
        .column-title
          %a{:title => "Check All", :href => '#', :id => 'checkall'} Check All
          %a{:title => "Uncheck All", :href => '#', :id => "uncheckall"} Uncheck All
        #filter_columns
          = render 'filters'
      .partial-section
        = label_tag :result_count, 'Fetch:'
        = select_tag :result_count, options_for_select([25, 50, 100])
      .partial-section
        = label_tag :offset, 'Offset:'
        = number_field_tag :offset, 0
      .partial_section
        = submit_tag "Search", :disabled => true, :id => "search_submit"

    #bar_section
      #arrow.ui-icon.ui-icon-triangle-1-w
#results_container
