-content_for :title, 'Search'
-content_for :javascript do
  =javascript_include_tag 'jquery.jstree', 'compiled/search'

#search-page
  = form_tag search_path, :method => 'post', :id=>'search_form', :remote => true do
    #filter_section
      .filter-title.title
        =label_tag :f, "Filters:"
      .partial-section
        = label_tag :t, "Table:"
        = select_tag :t, options_for_select(@blur_tables_names)
      .partial-section
        = label_tag :s, "Super Query:"
        = check_box_tag :s, true, true
      .partial-section
        .column-title
          Column Families:
        .column-title
          %a{:title => "Check All", :href => '#', :id => 'checkall'} Check All
          %a{:title => "Uncheck All", :href => '#', :id => "uncheckall"} Uncheck All
        #filter_columns
          = render 'filters'
      .partial-section
        = label_tag :r, 'Fetch:'
        = select_tag :r, options_for_select([25, 50, 100])
      .partial-section
        = label_tag :a, 'Start:'
        = text_field_tag :a, 0

    #bar_section
      #arrow.ui-icon.ui-icon-triangle-1-w
    #query_section.partial-page
      #search_section
        .search-title.title
          = label_tag :q, "Search:"
        .search-input
          .query-label= label_tag :q, "Query:"
          = text_area_tag :q, params[:q]
          = submit_tag "Search", :disabled => true, :id => "search_submit"

        %img{:id => "loading-spinner", :src => "/images/spinner.gif", :alt => "Loading...", :style => "display:none;" }
      #results_container
