.info-modal
  .search-info-section
    %table#more-info-table.table.table-striped.table-condensed
      %tbody
        %tr
          %td.more-info-label Configured Capacity
          %td= number_to_human_size @hdfs_stat.config_capacity
        %tr
          %td.more-info-label Present Capacity
          %td= number_to_human_size @hdfs_stat.present_capacity
        %tr
          %td.more-info-label Amount Used (With Replication)
          %td= number_to_human_size @hdfs_stat.dfs_used_real
        %tr
          %td.more-info-label Amount Used (Logical)
          %td= number_to_human_size @hdfs_stat.dfs_used_logical
        %tr
          %td.more-info-label Amount Remaining
          %td= number_to_human_size @hdfs_stat.dfs_remaining
        %tr
          %td.more-info-label Percent Used
          %td= "#{@hdfs_stat.dfs_used_percent}%"
        %tr
          %td.more-info-label Under Replicated Blocks
          %td= @hdfs_stat.under_replicated
        %tr
          %td.more-info-label Corrupt Blocks
          %td= @hdfs_stat.corrupt_blocks
        %tr
          %td.more-info-label Missing Blocks
          %td= @hdfs_stat.missing_blocks
        %tr
          %td.more-info-label Total Nodes
          %td= @hdfs_stat.total_nodes < 0 ? 'Unavailable' : @hdfs_stat.total_nodes
        %tr
          %td.more-info-label Dead Nodes
          %td= @hdfs_stat.dead_nodes < 0 ? 'Unavailable' : @hdfs_stat.dead_nodes
        %tr
          %td.more-info-label Live Nodes
          %td= @hdfs_stat.live_nodes < 0 ? 'Unavailable' : @hdfs_stat.live_nodes
  .search-info-section
    .radial-graph
      Loading...