<!--
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
     KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
-->
<% var stats = hdfs.get('most_recent_stats'); %>
<div class="hdfs-title label">
  <% if(hdfs.get('recent_stats')) { %>
    <img src="/assets/online.png" title="HDFS Stats are current"/>
  <% } else { %>
    <img src="/assets/offline.png" title="HDFS Stats are haven't been updated in over a minute"/>
  <% } %>
  <span>
    <%= hdfs.get('name') %>
  </span>
  <span class="title-subtle"><%= hdfs.get('host') %></span>
</div>
<div class="hdfs-body">
	<% if (stats === null) { %>
		<table>
			<tr>
				<td>Unable to retrieve stats.</td>
			</tr>
		</table>
	<% } else { %>
	  <table>
	    <tr>
	      <td class="hdfs-chart-container">
					<div class="zk-cont-info">
						<h6 class="<%= stats.missing_blocks === 0 ? '' : 'error-label'%>">Missing Blocks ( <%= stats.missing_blocks %> )</h6>
						<h6 class="<%= stats.under_replicated === 0 ? '' : 'error-label'%>">Under-Replicated Blocks ( <%= stats.under_replicated %> )</h6>
	      </td>
	      <td class="hdfs-bar-container">
	        <div class="hdfs-live progress progress-status <% if(stats.total_nodes < 1){ %>faded-bar<% }else{ %>red-bar<% } %>">
	          <div class="bar green-bar" style="width:<%= hdfs.node_width() %>%"></div>
	        </div>
	        <%= stats.live_nodes %> out of <%= stats.total_nodes %> live nodes<br /><br />
	        <div class="hdfs-dfs progress progress-status faded-bar">
	          <div class="bar <% if(hdfs.usage_width()<70){ %>green-bar<% }else if(hdfs.usage_width()<90){ %>yellow-bar<% }else{ %>red-bar<% } %>" style="width:<%= hdfs.usage_width() %>%"></div>
	        </div>
	        <%= hdfs.percent_used() %> dfs usage
	      </td>
	    </tr>
	  </table>
	<% } %>
</div>
