- empty_message = 'Not Available'
%tr{:id => blur_query.id}
  %td.userid
    - if blur_query.userid
      = blur_query.userid
    - else
      = empty_message
  %td{:class => "query_string", :title => blur_query.query_string}
    - if blur_query.query_string
      = truncate(blur_query.query_string, :length => 20, :ommision => "...")
    - else
      =empty_message
  %td.start
    - if blur_query.start
      = blur_query.start
    - else
      =empty_message
  %td.fetch_num
    - if blur_query.fetch_num
      = blur_query.fetch_num
    - else
      = empty_message
  %td
    - if blur_query.cpu_time and blur_query.real_time
      = blur_query.cpu_time.to_s + ' / ' + blur_query.real_time.to_s
    - else
      = empty_message 
  %td
    - if blur_query.shards
      = number_to_percentage 100 * blur_query.complete / blur_query.shards.to_f, :precision => 0
    - else
      Not Available
  - if can? :update, :runtime
    %td
      - if blur_query.running
        = form_tag "/blur_queries/#{blur_query.id}", :method => :put, :remote => true, :class => :cancel do
          = submit_tag 'Cancel', :name => 'cancel', :confirm => "Are you sure?"
  %td.info
    = link_to "More Info", "/blur_queries/#{blur_query.id}/more_info", :class => 'more_info', :remote => true
