- empty_message = 'Not Available'
%tr[blur_query]{'data-age' => Time.now - blur_query.created_at }>
  %td.userid<
    - if blur_query.userid
      = blur_query.userid
    - else
      = empty_message
  - if can? :index, :blur_queries, :query_string
    - if blur_query.query_string
      - truncate_length = 20
      %td.query_string{ :title => blur_query.query_string.length() > truncate_length ? blur_query.query_string.gsub(/ \+/) { '<br />+' } : '' }<
        = truncate(blur_query.query_string, :length => truncate_length, :ommision => "...")
    - else
      %td.query_string
        = empty_message
  %td<
    - if blur_query.super_query_on
      On
    - elsif blur_query.super_query_on == false
      Off
    - else
      = empty_message
  %td.start<
    - if blur_query.start
      = blur_query.start
    - else
      =empty_message
  %td.fetch_num<
    - if blur_query.fetch_num
      = blur_query.fetch_num
    - else
      = empty_message
  %td<
    - if blur_query.cpu_time and blur_query.real_time
      = blur_query.cpu_time.to_s + ' / ' + blur_query.real_time.to_s
    - else
      = empty_message
  %td<
    - if blur_query.blur_table.schema and blur_query.complete
      - num_shards = blur_query.blur_table.schema.values.flatten.count
      = number_to_percentage 100 * blur_query.complete / num_shards, :precision => 0
    - else
      = empty_message
  - if can? :update, :blur_queries
    %td
      - if blur_query.running
        = form_tag "/blur_queries/#{blur_query.id}", :method => :put, :remote => true, :class => :cancel do
          = submit_tag 'Cancel', :name => 'cancel', :confirm => "Are you sure?"
  %td.info<
    = link_to "More Info", "/blur_queries/#{blur_query.id}/more_info", :class => 'more_info', :remote => true
