- content_for :title, 'Blur Queries'

- content_for :javascript do
  = javascript_include_tag 'compiled/blur_queries'

#blur_queries_wrapper
  = form_tag refresh_path, :id => "filter_form", :method => :get, :remote => true do

    #filter_wrapper
      %h3
        = link_to 'Filters', '', :id => :filter_header
      %div
        .query_filter
          = label_tag "created_at_time", 'Within past:'
          = select_tag "created_at_time",
            options_for_created_at_time(@filters['created_at_time'])
        .query_filter
          = label_tag "super_query_on", 'Super Query:'
          = select_tag "super_query_on",
            options_for_all_on_off(@filters['super_query_on'])
        .query_filter
          = label_tag "running", 'Running:'
          = select_tag "running",
            options_for_all_yes_no(@filters['running'])
        .query_filter
          = label_tag "interrupted", 'Interrupted:'
          = select_tag "interrupted",
            options_for_all_yes_no(@filters['interrupted'])
          = submit_tag 'filter'

    #selector_wrapper
      #table_wrapper
        = label_tag :blur_table_id, 'Blur Table:'
        = select_tag :blur_table_id,
            options_for_select([['All', nil]]) +  options_from_collection_for_select(@blur_tables, "id", "table_name")

      #refresh_wrapper
        = hidden_field_tag :time_since_refresh
        = label_tag :refresh_period, 'Refresh:'
        = select_tag :refresh_period,
          options_for_refresh_period(@filters['refresh_period'])
        #pause_button
          #pause.ui-icon.ui-icon-pause

      #spinner_wrapper
        = image_tag "/images/loadinfo_24.gif", :id => "filter_spinner", :alt => "Loading..."

  #current
    %span
      %b Current Filters:
    %span#filters
  = render 'query_table', :blur_queries => @blur_queries