- content_for :title, 'Blur Queries'

- content_for :javascript do
  = javascript_include_tag 'compiled/blur_queries'

#blur_queries_wrapper
  = form_tag refresh_path, :id => "filter_form", :method => :get, :remote => true do

    #filter_wrapper
      %h3
        = link_to 'Filters', ''
      %div
        .query_filter
          = label_tag :created_at_time, 'Within past:'
          = select_tag :created_at_time, options_for_select([['1 minute', 1],
      			 	 	 	 	 	 	 	 	 	 	 	 	 	 	 	 	 	 	 	 	 	 	 	   ['5 minutes', 5],
      			 	 	 	 	 	 	 	 	 	 	 	 	 	 	 	 	 	 	 	 	 	 	 	   ['15 minutes', 15],
      			 	 	 	 	 	 	 	 	 	 	 	 	 	 	 	 	 	 	 	 	 	 	 	   ['30 minutes', 30],
      			 	 	 	 	 	 	 	 	 	 	 	 	 	 	 	 	 	 	 	 	 	 	 	   ['1 hour', 60]])
        .query_filter
          = label_tag :super_query_on, 'Super Query:'
          = select_tag :super_query_on, options_for_select([['All Queries', nil],
         	                                                 	['Super Query On', true],
                                                         	 	['Super Query Off', false]])
        .query_filter
          = label_tag :running, 'Running:'
          = select_tag :running, options_for_select([['All Queries', nil],
                                                     ['True', true],
                                                     ['False', false]])
        .query_filter
          = label_tag :interrupted, 'Interrupted:'
          = select_tag :interrupted, options_for_select([['All Queries', nil],
                                                         ['True', true],
                                                         ['False', false]])
        
          = submit_tag 'filter'

    #selector_wrapper
      = label_tag :blur_table_id, 'Blur Table:'
      = select_tag :blur_table_id,
          options_for_select([['All', nil]]) +  options_from_collection_for_select(@blur_tables, "id", "table_name")

      #refresh_wrapper
        = hidden_field_tag :time_since_refresh
        = label_tag :refresh_period, 'Refresh every:'
        = select_tag :refresh_period, options_for_select([['never', 'false'],
                                                          ['continuously', 'continuous'],
                                                          ['10 seconds', 10],
                                                          ['1 minute', 60],
                                                          ['10 minutes', 600]])

    = image_tag "/images/loadinfo_24.gif", :id => "filter_spinner", :alt => "Loading...", :style => "display:none;"

  = render 'query_table'
