!!!5
%html
	%head
		= csrf_meta_tag
		= javascript_include_tag 'application', 'routes'
		= yield(:javascript)
		= stylesheet_link_tag 'application', :media => "all" 
		- if @current_zookeeper.blank? && @zookeepers
			:javascript
				var Zookeeper = {};
				Zookeeper.instances = #{@zookeepers.collect{|z| {:id=>z.id, :name=>z.name}}.to_json}
		%title
			= yield(:title)
			| Blur Admin
	%body
		#root
			#top
				#hd
					- if @current_user
						#logo
							= link_to image_tag('blur_logo.png'), root_path
					- if flash
						#flash
							- flash.each do |type, message|
								-if type == :notice
									.alert.alert-success{:class=>type}= message
								-elsif type == :error
									.alert.alert-error{:class=>type}= message
								-else
									.alert.alert-info{:class=>type}= message
			- if @current_user
				.navbar
					.navbar-inner
						%ul.nav.pull-left
							- controller = params[:controller]
							- action = params[:action]
							%li{:class => controller == 'zookeepers' && action == 'index' && 'active'}
								= link_to 'Dashboard', root_path
							%li{:class => controller == 'zookeepers' && action == 'show_current' && 'active'}
								= link_to 'Environment Status', zookeeper_path, :id => 'env_link'
							%li{:class => controller == 'blur_tables' && 'active'}
								= link_to 'Blur Tables', blur_tables_path, :id => 'tables_link'
							%li{:class => controller == 'blur_queries' && 'active'}
								= link_to 'Blur Queries', blur_queries_path, :id => 'queries_link'
							- if can? :show, :search
								%li{:class => controller == 'search' && 'active'}
									= link_to 'Search', search_path, :id => 'search_link'
							%li.dropdown{:class => (controller == 'hdfs' || controller == 'hdfs_metrics') && 'active'}
								%a.dropdown-toggle{:href=>'#', :data=>{:toggle=>'dropdown'}}
									HDFS
									%b.caret
								%ul.dropdown-menu
									%li{:class => controller == 'hdfs' && 'active'}
										= link_to 'HDFS File Browser', hdfs_path
									-#%li{:class => controller == 'hdfs_metrics' && 'active'}
										-#= link_to 'HDFS Metrics', hdfs_metrics_path
							- if can? :index, :users
								%li{:class => controller == 'users' && action == 'index' && 'active'}
									= link_to 'Admin', users_path
						%ul.nav.pull-right
							- if @current_zookeeper && @zookeepers && @zookeepers.length > 1
								%li
									#zookeeper_select
										= form_tag make_current_zookeeper_path, :id => 'change_current_zookeeper', :class=>"navbar-search", :method => :put, :remote => :true do
											= select_tag( :id, options_from_collection_for_select( @zookeepers, :id, :name, @current_zookeeper.id ), :id => 'zookeeper_id' )
								%li.divider-vertical
							%li
								= link_to "Account", @current_user
							- if session[:proof].blank?
								%li.divider-vertical
								%li= link_to "Log Out", logout_path
			#bd.container-fluid
				= yield
	#ft{:class => footer_class(license)}
		#license
			%p
				= license_text(license)
		#company-info
			%p
				%a#page-help{:href => '#'} Help
				| Developed by 
				%a{:href => "http://www.nearinfinity.com"} Near Infinity
				| Version 1.1
#help-menu{:style => 'display: none', "data-controller" => params[:controller], "data-action" => params[:action]}