!!!5
%html
  %head
    =csrf_meta_tag
    %title Blur Admin
    = stylesheet_link_tag 'jquery-ui', 'application'
  %body
    #hd
      = image_tag 'blur_logo.png'
    #nav
      %ul
        %li.active
          = link_to 'Environment Status', '#'
        %li
          = link_to 'Data', '#'
        %li
          = link_to 'Runtime', '#'
        %li
          = link_to 'Configuration', '#'
    #bd
      = yield
    #ft 
      Blur Footer
    =javascript_include_tag 'jquery', 'jquery-ui', 'rails', 'application'
    =include_safe_javascript
