<!DOCTYPE html>
<html>
<head>
  <title>BlurAdmin</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

	<div id="hd"><%= image_tag "blur_logo.png" %>
	  <div id="menu-bar" class="ui-widget-header ui-state-select ui-corner-top">   
			<ul>
				
	      <li>
	        <a href="#" class="ui-menu ui-state-default">Menu1</a>
	        <div class ="hidden">
	          <ul>
	           	<li><a href="#">Menu option</a></li>
	            <li><a href="#">Menu option</a></li>
	            <li><a href="#">Menu option</a></li>
	          </ul>
	        </div>
	 			</li>
	
	      <li>
	        <a href="#" class="ui-menu ui-state-default">Menu2</a>
	        <div class ="hidden">
	          <ul>
	           	<li><a href="#">Parent option</a>
								<ul>
									<li><a href="#">Menu option</a></li>							
									<li><a href="#">Menu option</a></li>
								</ul>
							</li>
	            <li><a href="#">Menu option</a></li>
	            <li><a href="#">Menu option</a></li>
	          </ul>
	        </div>
	 			</li>
	
	    </ul>
	  </div>
	</div>
	<div id ="bd">
		<div id="widgets" class="ui-widget-content">

			<div class="widget">
				<div class="ui-widget-header ui-corner-top">Query Status</div>
				<div class="ui-widget-content ui-widget ui-corner-bottom">Here's some info about the queries </div>
			</div>
			
			<div class="widget">
				<div class="ui-widget-header ui-corner-top">Some other widget</div>
				<div class="ui-widget-content ui-widget ui-corner-bottom">Through Blur configuration, you define where in the search cluster the Blur shard servers and controller servers live. Once configured, Blur figures out which shards are online and automatically distributes all of the index shards across the active shard servers. If a shard server dies, the other shard servers automatically compensate and identify where the additional load must be shifted.  Having multiple controller servers both increases search throughput and provides redundancy at the controller layer.</div>
			</div>
			<div class="widget">
				<div class="ui-widget-header ui-corner-top">Some other widget</div>
				<div class="ui-widget-content ui-widget ui-corner-bottom">Here's some other widget</div>
			</div>
			<div class="widget widget-double">
				<div class="ui-widget-header ui-corner-top">Some other widget</div>
				<div class="ui-widget-content ui-widget ui-corner-bottom">Here's some other widget</div>
			</div>
			<div class="widget">
				<div class="ui-widget-header ui-corner-top">Some other widget</div>
				<div class="ui-widget-content ui-widget ui-corner-bottom">Here's some other widget</div>
			</div>
			<div class="widget widget-triple">
				<div class="ui-widget-header ui-corner-top">Some other widget</div>
				<div class="ui-widget-content ui-widget ui-corner-bottom">Here's some other widget</div>
			</div>
			<div class="widget widget-full">
				<div class="ui-widget-header ui-corner-top">Some other widget</div>
				<div class="ui-widget-content ui-widget ui-corner-bottom">Here's some other widget</div>
			</div>
			<%= yield %>
		</div>
	</div>

	<div id="ft" class="ui-corner-bottom ui-widget-header">Blur Footer</div>

  <%= javascript_include_tag :defaults %>
	<%= javascript_include_tag 'fg.menu'%>
  <%= include_safe_javascript %>
</body>
</html>
