- content_for :title, 'Runtime'

- content_for :javascript do
  = javascript_include_tag 'compiled/runtime'

#runtime-page
  Tables:
  %select#table-select{:name => 'tables'}
    %option{:value => 'all'}
      All
    -@tables.each do |table|
      %option{:value => table}
        =table
  #runtime-graphs
    .runtime-graph-container
      %h4 Database Utilization
      #usage-graph.runtime-graph
  #runtime-queries
    #queries-title
      %h2 Queries
    #filters-header
      %a{:href => '#'}
        %h4 Filters:
    #filters-body{:hidden => true}
      #super-query-filter.filter-section
        = radio_button_tag :super, 'on', false, :class => 'on'
        = label_tag :super, 'Super Query On'
        = radio_button_tag :super, 'off', false, :class => 'off'
        = label_tag :super, 'Super Query Off'
        = radio_button_tag :super, 'both', true, :class => 'both'
        = label_tag :super, 'Super Query On/Off'
      #status-filter.filter-section
        = check_box_tag '', true, true, :class => 'complete'
        = label_tag '', 'Complete'
        = check_box_tag '', true, true, :class => 'running'
        = label_tag '', 'Running'
        = check_box_tag '', true, true, :class => 'interrupted'
        = label_tag '', 'Interrupted'
      #time-filter
        = label_tag :t, 'Time:'
        = select_tag :t, options_for_select(['1 minute', '5 minutes', '15 minutes', '30 minutes', '1 hour'])

    = render 'query_table'
      
#more-info-container

#failure-message{:hidden => true}
  #failed-info{:hidden => true}
  #failed-buttons 
    %form
      =label_tag :t, "The cancel was unsuccessful, would you like to try canceling again?", :id => "failed-label"
      %button#confirm-resubmit.cancel{:type => "button"}
        Cancel
      %button#confirm-resubmit.resubmit{:type => "button"}
        Re-Submit