- content_for :title, 'Audits'
- content_for :javascript do
  =javascript_include_tag 'audits.js'

#audits_wrapper
  %h2 Audits
  #audits_table
    %table.table.table-bordered.table-striped
      %thead
        %tr
        - headers = ['Action Taken', 'Username', 'User','Zookeeper/Root Path', 'Model Affected', 'Mutation Type', 'Date']
        - headers.each do |header|
          %th
            .header_content
              %div=header
              =render :partial => 'shared/icons'
      %tbody
        - for audit in @audits
          %tr
            %td= audit.action
            %td= audit.user.username
            %td= audit.user.name
            %td= audit.zookeeper_affected
            %td= audit.model_affected
            %td= audit.mutation
            %td= audit.created_at