= twitter_bootstrap_form_for user do |f|
	-if user.errors.any?
		#error_explanation
			%h4= "#{pluralize(user.errors.count, 'error')} prohibited new user from being saved"
			%ul
				- user.errors.full_messages.each do |msg|
					%li= msg
	- fields = {:username							 => :text_field,
							:name									 => :text_field,
							:email								 => :email_field,
							:password							 => :password_field,
							:password_confirmation => :password_field}
	- fields.each_pair do |field_name, field_type|
		%p
			- if (!user.new_record? and can? :update, user, field_name)	or ( user.new_record? and can? :create, user, field_name)
				= f.send field_type, field_name, false, :placeholder => field_name.to_s.humanize
			- elsif user[field_name]
				%strong= "#{field_name}: "
				= user[field_name]
	- if (user.is?(:admin))
		= f.toggles 'Roles' do
			- User::ROLES.each do |role|
				= f.check_box "user[roles][]", role.to_s.humanize, :checked => user.is?(role)
	- if current_user
		= f.submit 'Save', :class => 'btn btn-primary'
	- else
		= f.submit 'Register', :class => 'btn btn-primary'
	= link_to 'Cancel', cancel_path, :class => 'btn'
