= form_for @user do |f|
  -if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, 'error')} prohibited new user from being saved"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg
  %p
    - if can?(:update, @user, :username) || can?(:create, @user, :username)
      = f.label :username
      %br
      = f.text_field :username
    - else
      %strong Username:
      = @user.username
  %p
    - if can?(:update, @user, :email) || can?(:create, @user, :email)
      = f.label :email
      %br
      = f.email_field :email
    - else
      %strong Email:
      = @user.email
  %p
    - if can?(:update, @user, :password) || can?(:create, @user, :password)
      = f.label :password, 'Password'
      %br
      = f.password_field :password
  %p
    - if can?(:update, @user, :password_confirmation) || can?(:create, @user, :password_confirmation)
      = f.label :password_confirmation, 'Password Confirmation'
      %br
      = f.password_field :password_confirmation

  %strong Roles:
  - User.valid_roles.each do |role|
    %p
      - if can?(:update, @user, role) || can?(:create, @user, role)
        = f.label role, role.capitalize
        = f.check_box role
  %p
    = f.submit 'Register'
