- content_for :title, 'Users'

%table
  %tr
    %th Username
    %th Email
    %th Crypted password
    %th Password salt
    %th Persistence token
  - for user in @users
    %tr
      %td= user.username
      %td= user.email
      %td= user.crypted_password
      %td= user.password_salt
      %td= user.persistence_token
      %td= link_to 'Show', user
      %td= link_to 'Edit', edit_user_path(user)
      %td= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete

%p= link_to "New User", new_user_path
