- content_for :title, 'User'
- content_for :javascript do
  =javascript_include_tag 'users'

#show_user_wrapper{'data-user-id' => @user.id}
  .info-contain.row
    - if can? :update, @column_preference
      - col_prefs = @column_preference.value || []
      #pref-col-info.span5
        #pref-row.row
          #pref-title.hidden-spinner
            %img{:class => "loading-spinner",
              :src => image_path("loader.gif"),
              :alt => "Loading..."}
            %h3 Search Result Column Preferences
          #pref-bin.span3

            #pref-col
              .section-label{:id => @user.id} My Saved Column Families
              %ul#my-cols.sort
                -if col_prefs.size() == 0
                  #no-saved None Currently Saved
                -else
                  #no-saved{:style => "display:none;"} None Currently Saved
                  -col_prefs.each do |pref|
                    .sel-fam{:id => "value_#{pref}"}
                      =pref
            #pref-trash
              %ul#actual-trash.sort
                #trash Drag a column here to remove it from your preferences
            #pref-key
              %h4 Search Prefence Key:
              Saved Column:
              #orange_color
              %br
              Unsaved Column:
              #blue_color
          #opt-col.span2
            .section-label All Column Families
            -@choices.each do |option|
              -if col_prefs.include? option
                .my-select.fam{:id => "value_#{option}"}
                  =option
              -elsif !option.blank?
                .fam{:id => "value_#{option}"}
                  =option
    #zookeeper-pref.span6
      %h3 Zookeeper Preferences
      - options = ["Default", "Choose Zookeeper", " Use Last Zookeeper"]
      %select#zookeeper_pref
        - options.each_with_index do |option, index|
          %option{ :value => index, :selected => (:selected if @zookeeper_preference.name == index.to_s) }
            = option
      =select_tag :zookeeper_num,  options_from_collection_for_select(@zookeepers, "id", "name", @zookeeper_preference.value)
      %p
        This preference will only be used when the current user does not have a zookeeper in the current session.
      %p
      =submit_tag "Save", :confirm => "Are you sure?", :id => "zookeeper_submit", :class => "btn btn-primary"

    #user-info.span4
      %p
        %strong Username:
        = @user.username
      %p
        %strong Name:
        = @user.name
      %p
        %strong Email:
        = @user.email
      %p
        %strong Roles:
        = @user.roles.to_a.join ', '
      %p
        - if can? :edit, @user
          = link_to "Edit", edit_user_path(@user)
        - if can? :index, :users
          |
          = link_to "View All Users", users_path
