- content_for :title, 'User'
- content_for :javascript do
  =javascript_include_tag 'compiled/users'

#show_user_wrapper{'data-user-id' => @user.id}
  .info-contain
    - if can? :update, @column_preference
      - col_prefs = @column_preference.value || []
      #pref-col-info
        #pref-title
          %h3 Search Result Column Preferences
        #pref-bin
          #pref-col
            .section-label{:id => @user.id} My Saved Column Families
            %ul#my-cols.sort
              -if col_prefs.size() == 0
                #no-saved None Currently Saved
              -else
                #no-saved{:style => "display:none;"} None Currently Saved
                -col_prefs.each do |pref|
                  .sel-fam{:id => "value_#{pref}"}
                    =pref
          #pref-trash
            %ul#actual-trash.sort
              #trash Drag a column here to remove it from your preferences
          #pref-key
            Key:
            %br
            Saved Column:
            #orange_color
            %br
            Unsaved Column:
            #blue_color
        #opt-col
          .section-label All Column Families
          -@choices.each do |option|
            -if col_prefs.include? option
              .my-select.fam{:id => "value_#{option}"}
                =option
            -else
              .fam{:id => "value_#{option}"}
                =option

    #pref-filter-info
      %h3
        Blur Queries Filter Preferences
      =form_tag(user_preference_path(@user, :filter), :method => :put, :id => 'filters', :remote => true)
      - filter_pref = @filter_preference.value || {'created_at_time'=>'', 'super_query_on'=>'', 'running'=>'', 'interrupted'=>'', 'refresh_period'=>''}
      .query_filter
        = label_tag "value[created_at_time]", 'Within past:'
        = select_tag "value[created_at_time]",
          options_for_created_at_time(filter_pref['created_at_time'])
      .query_filter
        = label_tag "value[super_query_on]", 'Super Query:'
        = select_tag "value[super_query_on]",
          options_for_all_yes_no(filter_pref['super_query_on'])
      .query_filter
        = label_tag "value[running]", 'Running:'
        = select_tag "value[running]",
          options_for_all_yes_no(filter_pref['running'])
      .query_filter
        = label_tag "value[interrupted]", 'Interrupted:'
        = select_tag "value[interrupted]",
          options_for_all_yes_no(filter_pref['interrupted'])
      .query_filter
        = label_tag "value[refresh_period]", 'Refresh:'
        = select_tag "value[refresh_period]",
          options_for_refresh_period(filter_pref['refresh_period'])

    #user-info
      %p
        %strong Username:
        = @user.username
      %p
        %strong Name:
        = @user.name
      %p
        %strong Email:
        = @user.email
      %p
        %strong Roles:
        = @user.roles.to_a.join ', '
      %p
        - if can? :edit, @user
          = link_to "Edit", edit_user_path(@user)
        - if can? :index, :users
          |
          = link_to "View All Users", users_path