- content_for :title, 'User'
- content_for :javascript do
  =javascript_include_tag 'compiled/users'

#show_user_wrapper
  .info-contain
    #pref-col-info
      #pref-col 
        .section-label{:id => @current_user.id} My Saved Columns
        %ul#my-cols
          -if @preferences.size() == 0
            #no-saved None Currently Saved
          -else
            -@preferences.each do |pref|
              .sel-fam{:id => "columns_#{pref}"}
                =pref
      #opt-col
        .section-label Total Columns
        -@choices.each do |option|
          -if @preferences.include? option
            .my-select.fam{:id => "columns_#{option}"}
              =option
          -else
            .fam{:id => "columns_#{option}"}  
              =option
                  

    #user-info
      %p
        %strong Username:
        = @user.username
      %p
        %strong Email:
        = @user.email
      %p
        %strong
          = @user.roles.to_a.join ', '
      %p
        - if can? :edit, @user
          = link_to "Edit", edit_user_path(@user)
        - if can? :destroy, @user
          |
          = link_to "Delete User", @user, :confirm => 'Are you sure?', :method => :delete
        - if can? :index, :users
          |
          = link_to "View All Users", users_path
