- content_for :title, 'User'

%p
  %strong Username:
  = @user.username
%p
  %strong Email:
  = @user.email

%p
  = link_to "Edit", edit_user_path(@user)
  |
  = link_to "Destroy", @user, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", users_path
