- content_for :title, 'User'

%p
  %strong Username:
  = @user.username
%p
  %strong Email:
  = @user.email
%p
  %strong Crypted Password:
  = @user.crypted_password
%p
  %strong Password Salt:
  = @user.password_salt
%p
  %strong Persistence Token:
  = @user.persistence_token

%p
  = link_to "Edit", edit_user_path(@user)
  |
  = link_to "Destroy", @user, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", users_path
