- if blur_table.schema
  %h4 Location
  %p= blur_table.table_uri
  %h4 Schema 
  .info.table_info_tree
    %ul
      - blur_table.schema.each do |family, columns|
        %li#family{:id=>"#{blur_table.table_name}.#{family}", :class => "family-node"}
          %a{:href=>'#'}
            = "#{family} (#{blur_table.table_analyzer})"
          %ul
            - columns.each do |column|
              %li#column{:id=>"#{blur_table.table_name}.#{family}.#{column}"}
                %a{:href=>'#'}= column
- else
  %div
    Not Available
