.schema
  Shard Servers:
  - if schema
    .schema_tree
      %ul
        -schema.each do |host, shards|
          %li.host{:id=>"#{host}"}
            %a{:href=>''}= host
            %ul
              -shards.each do |shard|
                %li.shard{:id=>"#{host}_#{shard}"}
                  %a{:href=>''}= shard
  - else
    Not Available
