- content_for :title, 'Data'
- content_for :javascript do
  =javascript_include_tag 'jquery.jstree','compiled/data'

#data-dtables
  #dtables-title
    %h2 Tables
    %br
  %table#dtables-table
    %tr#dtables-table-header
      %th Table
      %th Shards
      %th Count
      %th Size
      %th Queries/Second
      %th Enabled
      - if can? :update, :data
        - col_span = 7
        %th Actions
      - else
        - col_span = 6

    -@blur_tables.each do |table|
      %tr.tr-underline{:id => table.table_name}
        %td
          %b
            name:
          =table.table_name
        %td
          .table-hosts
            
            -host_num = table.shards.length
            -shard_num = table.shards.values[0].length
            %a{:href=>'#', :class => "host-shards", :id => table.table_name} 
              Hosts: 
              =host_num 
              Shards: 
              =shard_num
            
        %td
          = number_with_delimiter(table.record_count, :delimiter => ',')
        %td
          =table.current_size
        %td
          =number_with_delimiter(table.query_usage, :delimiter => ',')
        %td
          = check_box_tag '', "1", table.is_enabled?, :class=>'enable', :table_name => table
        %td
          = submit_tag 'delete', :class=>'delete-table', :table_name => table.table_name
      %tr{:id => table.table_name}
        %td{:colspan => 7}
          %b location:
          = table.table_uri
      %tr.tr-underline{:id => table.table_name}
        %td{:colspan => 7}
          %b definition:
          .table-def
            %ul
              %li#families{:id=>"#{table.table_name}", :class => "family-node"}
                %a{:href=>'#', :class => 'families'}Column Families
                %ul
                  -table.schema.each do |family, sets|
                    %li#family{:id=>"#{table.table_name}.#{family}", :class => "family-node"}
                      %a{:href=>'#'}
                        = "#{family} (#{table.table_analyzer})"
                      %ul
                        -sets.each do |word|
                          %li#column{:id=>"#{table.table_name}.#{family}.#{word}"}
                            %a{:href=>'#'}= word

#confirm.ui-confirm{:hidden => true}
  #confirm-dialog
  #confirm-buttons
    %form
      %input#underlying-confirm{:type => "checkbox", :checked => false}
        =label_tag :t, "Delete underlying table index", :id => "delete-label"
      %button#confirm-submit.cancel{:type => "button"}
        Cancel
      %button#confirm-submit.ok{:type => "button"}
        Delete

-@blur_tables.each do |table|
  #display.shard-info{:hidden => true, :class => table.table_name}
    Shard Servers:
    .table-def
      %ul
        -table.shards.each do |host, shards|
          %li#hosts{:id=>"#{host}"}
            %a{:href=>'#'}= host
            %ul
              -shards.each do |shard|
                %li#shards{:id=>"#{host}_#{shard}"}
                  %a{:href=>'#'}= shard
