<% if(schema){ %>
  <div class="schema_wrap">
    <h4>Location</h4>
    <a href="<%= '/hdfs/' + table.get('cluster_id') + '/show/' + table.parse_uri('path') %>"><%= table.get('table_uri') %></a>
    <h4>Schema</h4>
    <div class="info table_info_tree">
      <ul>
        <% _.each(schema, function(family){ %>
          <li>
            <a href="#"><%= family.name + ' (' + table.get('table_analyzer') + ')'%></a>
            <ul>
              <% _.each(family.columns, function(column){ %>
                <li>
                  <a href="#"><%= column.name %></a>
                  <ul>
                    <li><a href="#">Has Data?: <%= column.live %></a></li>
                    <li><a href="#">Searchable?: <%= column.searchable %></a></li>
                    <li><a href="#">Analyzer: <%= column.analyzer %></a></li>
                    <li><a href="#">Full Text?: <%= column.fullText %></a></li>
                    <% if(column.live && column.searchable) { %>
                      <li data-family_name="<%= family.name%>" data-column_name="<%= column.name %>">
                        <a href="#">
                          <span class="terms" data-family-name="<%= family.name %>" data-column-name="<%= column.name %>">
                              View Terms
                          </span>
                        </a>
                      </li>
                    <% } %>
                  </ul>
                </li>
              <% }); %>
            </ul>
          </li>
        <% }); %>
      </ul>
    </div>
  </div>
<% } else { %>
  <div> Not Available </div>
<% } %>