.column_family_filter
  %ul
    %li#neighborhood{:class => 'jstree-checked'}
      %a{:href=>'#', :class => 'check_filter', :name => "all"} All
      - if columns
        - columns.each do |family, cols|
          %ul
            %li#family{:id=>"-sep-_#{family}"}
              %a{:href=>'#', :class => 'check_filter', :name => "family_-sep-_#{family}"}= family
              %ul
                - cols.each do |col|
                  %li#column{:id=>"-sep-_#{family}_-sep-_#{col}"}
                    %a{:href=>'#', :class => 'check_filter', :name => "column_-sep-_#{family}_-sep-_#{col}"}= col
